* {
  margin: 0;
  padding: 0;  
  font-family: "Open Sans", sans-serif;
}



header h1 {
  text-align: center;
  margin: 40px 0 40px 0;
  color: #2793e6;
}

div main {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.imageBlock{  
  height: 400px;
  width: auto;
  margin-bottom: 3px;
}

.muvieBlock{
  height: 730px;
  width: 350px;
  margin: auto;
  position: relative;
  margin: 0 40px 40px 50px;
  /* margin-bottom: 40px;   */
  box-shadow: 0 4px 8px 0 rgba(17, 255, 37, 0.2), 0 6px 20px 0 rgba(17, 255, 37, 0.2);
}

  img {
    width: 75%;
    height: auto;
    margin-left: 20%;
    display: block;
    margin: 0 auto;   
  }

  .overviewBlock{
   
  padding: 0 8px 0 8px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  }

  h2{
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .averageBlock{
    margin-bottom: 6px;
    color: green;
    font-size: 25px;
    text-align: center;
    margin-right: 15px;
  }

  .checkBoxStyle{
    text-align: center;
    margin: 15px;
  }
 
label input.check:checked + .label-text {    
    background: rgb(84, 204, 134);
    color:#ffffff;
    border-radius: 5px;
}

.checkBoxStyle input{
  display: none;
}

.label-text{
  padding: 5px;  
  font-size: 18px;
  color:#2793e6;
  font-weight: bolder;
  text-transform: uppercase;
}